.postContainer{
    display: flex;
    border: 1px solid black;
    margin: 10px;
    flex-wrap: wrap;

}
.itemspost{
    margin: 20px;
    padding: 10px;  
    border: 1px solid black;
}

.container-comment{
    
    border: 1px solid black;
}
.comment{
    border: 1px solid black;
}